aiohttp
async-timeout
asyncio
attrs
certifi
cffi
chardet
colorize
discord.py[voice]
idna
idna-ssl
multidict
PTable
pycparser
PyNaCl
requests
six
urllib3==1.26.5
websockets==6.0
yarl
youtube-dl
