aiohttp
async-timeout
asyncio
attrs
certifi
cffi
chardet
colorize
discord.py[voice]
idna
idna-ssl
multidict
PTable
pycparser
PyNaCl
requests
six
urllib3
websockets
yarl
youtube-dl
